@model BookStore.Api.Dtos.CategoryDTO

<h2>Delete Category</h2>

<div>
    <h4>Are you sure you want to delete this category?</h4>
    <div>
        <h5>@Model.Name</h5>
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
